## Robovm
/ios/robovm-build/

/build/
/android/build/
/core/build/
/desktop/build/
/html/build/
/ios/build/
/ios-moe/build/

/dist/
/core/dist/
/ios/dist/
/ios-moe/dist/

/local.properties
.gradle/
.idea/
gradle-app.setting
/build/
/core/build/
/core/out/
/ios/build/
/ios-moe/build/
/ios-moe/out/
/ios-moe/xcode/build

*.iml

